---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.alt_lang | default: site.lang }}">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    {% include topbar.html %}

    <div id="main-wrapper">
      <div id="main">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <a id="back-to-top" href="#" aria-label="Back to top">
      <i class="fas fa-angle-up"></i>
    </a>

    {% include search-results.html %}

    {% include search-loader.html %}

    {% include js-selector.html %}

    {% if page.mermaid %}
      {% include mermaid.html %}
    {% endif %}

  </body>

</html>
